PORT=3000

# =========================================
# MERCADO PAGO
# =========================================

# Chave privada - NUNCA coloque no frontend, GitHub ou HTML.
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-COLOQUE_SEU_ACCESS_TOKEN_AQUI

# Chave pública - pode ser usada no frontend.
MERCADO_PAGO_PUBLIC_KEY=TEST-COLOQUE_SUA_PUBLIC_KEY_AQUI


# =========================================
# POSTGRESQL
# =========================================

PGHOST=localhost
PGPORT=5432
PGDATABASE=polo_norte
PGUSER=postgres

# Coloque aqui a senha do PostgreSQL SOMENTE no seu .env real.
PGPASSWORD=COLOQUE_SUA_SENHA_DO_POSTGRES_AQUI